:root {
  --blue: #2E5090;
  --navbar: #aa6a7d;
  --white: #fff;
  --container-dark: #2f3136;
  --blurple: #5865f2;
  --purple: #6c3eac;
}


.navbar {
  background-color: var(--bs-pink);
}

.navbar-nav-svg {
  width: 1rem;
  height: 1rem;
}

.nav-link.active {
  font-weight: 600;
  color: var(--white);
}


.navbar .navbar-nav .nav-link {
  color: rgba(255,255,255,0.85);
}