@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --blue: #2E5090;
  --navbar-dark: #23272a;
  --white: #fff;
  --container-dark: #2f3136;
  --blurple: #5865f2;
}

.navbar {
  font-family: 'Poppins', sans-serif !important;
  background-color: var(--navbar-dark);
}

.navbar .nav-link:hover, .navbar .active {
  color: var(--bs-cyan) !important;
}

.navbar .navbar-brand {
  font-size: 24px !important;
  vertical-align: middle;
}