@import url('https://fonts.googleapis.com/css2?family=family=Titillium+Web&display=swap');

.main {
    display: flex;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
}

.main .left-align {
    padding-left: 30vh;
    padding-top: 30vh;
}

.main .text {
    font-size: 75px;
    font-weight: 600;
    opacity: 100%;
}

.main .text span {
    color: var(--blurple)
}

.main .invite-stats {
    font-size: 27px;
}

.main .invite {
    position: absolute;
    display: inline-block;
    background: var(--blurple);
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--blurple);
    transition: all 0.3s ease;
  }
.main .invite:hover {
    background: none;
    color: var(--coral);
}