{% extends "base.html" %}

{% block head %}
    <link href="static/css/commands.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container pt-4">
        <div class="row mb-3">
            <div class="col-4 left-nav">
                <h1>Table of Contents</h1>
            </div>
            <main class="col-8">
                <h1>Commands</h1>
                <p>
                    <code>&lt;argument&gt;</code> means the argument is required<br>
                    <code>[argument]</code> means the argument is optional
                </p>
                <hr>
                <div class="pb-4"></div>

                {{ test|safe }}

            </main>
        </div>
        
    </div>
{% endblock %}